{% if _table['BRIDGES']|length == 0 and _table['SETUP']['BRIDGES'] != False %}
<div class="preloader flex-column justify-content-center align-items-center">
   <i class="fas fa-2x fa-sync-alt fa-spin"></i>
   <span class="info-box-text" id="pre_wait"></span>
</div>
{% elif _table['SETUP']['BRIDGES'] == False %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title" id="tbridgesdis">BRIDGES display is disabled by setup</h3>
            </div>
        </div>
    </div>
</div>
{% else %}
{% for _bridge, _bridge_data in _table['BRIDGES'].items() %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">{{ _bridge }}</h3>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0 table-striped table-sm">
            <thead>
              <tr>
                <th style="width: 10%;">System</th>
                <th style="width: 5%;">Slot</th>
                <th style="width: 5%;">TG#</th>
                <th style="width: 10%;">Status</th>
                <th style="width: 10%;">Timeout</th>
                <th style="width: 10%;">Timeout Action</th>
                <th style="width: 20%;">Connect TG#</th>
                <th style="width: 30%;">Disconnect TG#</th>
              </tr>
            </thead>
            <tbody>
                {% for system, _system_data in _table['BRIDGES'][_bridge].items() %}
                {% if _table['BRIDGES'][_bridge][system]['ACTIVE'] == "Connected" %}
                <tr>
                    <td>{{ system }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['TS'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['TGID'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['ACTIVE'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['EXP_TIME'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['TO_ACTION'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['TRIG_ON'] }}</td>
                    <td>{{ _table['BRIDGES'][_bridge][system]['TRIG_OFF'] }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
